*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    position: fixed;
    width: 100%;
    text-align: center;


    margin: 0;
    padding: 5px;
    top: 0;
    background-color: #17a2b8;
    color: white;


}

.align-center{
    margin: auto;
    text-align: center;

}

.container{

    margin-top: 50px;
    margin-bottom: 70px;
}
.flex-container{
    display: flex;
    justify-content:space-around;
}

.footer{
    position: fixed;
    left: 0; bottom: 0;

    background: #ffffff;

    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ikon {
    height: 36px;
    width: 36px;
}

.logo-header{
    height: 36px;
    width: 36px;
}


.ikon-history{
    height: 25px;
    width: 25px;
}

.style{
    width: 100%;
    display: flex;
    flex-direction: column;
}

td{
    padding: 5px;

}
tr{
    border-bottom: 1px solid gray;

}

.text{
    font-weight: bold;
    font-size: larger;
    color: #17a2b8;
}

.text-center{
    margin: 0 auto;
}

.text-color{
    color: gray;
}

.style-oil{
    background-color: #17a2b8;
    color: rgb(255, 255, 255);
}

.style-payment{
    background-color: #17a2b8;
    color: rgb(255, 255, 255);
}

.back-style{
    position: fixed;
    margin: 0;
    padding: 5px;
    top: 0;
}

 .style-padding{
    margin: 10px;
 }

 .style-servise{
    background-color: #17a2b8;
 }



.form-signin {
    max-width: 330px;
    padding: 15px;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

.user{
    position: absolute;
    right:   0;
    margin-right: 25px;

}

.help{
    position: absolute;
    left:   0;
    margin-left: 25px;
}
